<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="auth-card">
            <h1 class="auth-card__title">Set new password</h1>
            <p class="auth-card__subtitle">Must be at least 6 characters</p>
            <% if (errorMessage) { %>
            <p class="auth-card__error"><%= errorMessage %></p>
            <% } %>
            <form action="/new-password" method="POST">
                <div class="form-control">
                    <label for="password">New Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <input type="hidden" name="userId" value="<%= userId %>" />
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="btn" type="submit">Update Password</button>
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>
